img.icon {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

div.slider-wrapper {
  position: relative;
  width: 100%;
}

div.slider-slide {
  position: absolute;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  opacity: 0;
}

h2 {
  font-style: italic;
  margin-bottom: 30px;
}

div.slider-slide .row p {
  text-align: center;
  margin: 20px;
}

div.buttons button.btn {
  margin: 20px;
}